#coordinates-display {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 250px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

#coordinate {
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}